<launch>
  <master auto="start"/>
  <node pkg="nav_view" type="nav_view" respawn="false">
  <remap from="goal" to="move_base_local_simple/goal" />
  <remap from="obstacles" to="move_base_local_node/local_costmap/obstacles" />
  <remap from="inflated_obstacles" to="move_base_local_node/local_costmap/inflated_obstacles" />
  <remap from="global_plan" to="move_base_local_node/NavfnROS/plan" />
  <remap from="local_plan" to="move_base_local_node/TrajectoryPlannerROS/local_plan" />
  <remap from="robot_footprint" to="move_base_local_node/TrajectoryPlannerROS/robot_footprint"/>
  </node>
</launch>
